@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css';

body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  color: black;
}
.navbar-brand .title {
  font-size: 1.4rem;
  font-weight: 700;
}
.navbar-brand .navbar-logo {
  color: #17b8a6;
}
.navbar-menu .navbar-end .navbar-item {
  font-weight: 600;
}

.hero {
  background: #eeecec;
}
.hero .container {
  padding: 1.2rem;
}
.hero .column .content {
  margin-top: 15%;
}
.hero .column .content .title,
.hero .column .content .subtitle {
  line-height: 1rem;
}

.footer {
  background: #17b8a6;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    justify-content: center;
  }
  .navbar-brand .title {
    font-size: 1.6rem;
  }
  .hero {
    margin-top: 6rem;
  }
  .hero .column .content {
    margin-top: 0rem;
  }
  .hero .column .content .content {
    /*make center*/
    padding: auto 0;
  }
}
