@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css';

body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  line-height: 1.6;
  color: black;
}
.footer {
  background: #17b8a6;
}
.hero {
  background: #eeecec;
}
